/*Format the main content of the webpage*/
.main{
	display:flex;
}

.main div{
	margin:25px;
}

/*Format the table to ensure proper margin*/
table{
	border-collapse: collapse;
	margin:15px;
	
}

/*Format the table data*/
table td{
	padding:15px;
border: 2px solid red; 
}

/*Format for the link*/
.link {
	color:red;
	
	
	margin-left: 10px;
}

/*Style for the input fields*/
.input{
	width:200px;
	display:flex;
	margin:15px;
	justify-content:space-between;
	
	
}

/*Format for the list of categories*/
li{
	list-style-type: none;
	color:green;
	
}
